.header {
    background-color: #3F784C;
    background-color: #09021a;
    color: #9EE37D;
    text-align: center;
    font-size: 5em;
    font-stretch: ultra-expanded;
}


.title,
.title:hover {
    text-decoration: none;
    color: #9EE37D;
    /* text-shadow: -10px 5px 10px black; */
    outline: 10px solid transparent;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 6s linear infinite;
}

@keyframes shine {
    from { -webkit-mask-position: 150%; }
    to { -webkit-mask-position: -50%; }
}

.screen {
    width: 100vw;
    height: 100vh;
}

.body {
    padding: 5vh;
    background-color: #9EE37D;
    height: 85%;

    display: flex;
    flex-flow: column;
    align-items: center;

    font-weight: bold;
    font-stretch: expanded;
}

.form-group {
    margin-right: 10px;
    width: 100%;
}

#animation {
    flex: auto;
    aspect-ratio: 1 / 1;
    padding: 10px;
}

#graphDiv {
    width: 100%;
    display: none;
    padding: 10px;
}

.myButton {
    background: transparent;
    color: #9EE37D;
    font-weight: bold;
    font-stretch: expanded;
    width: 100%;
    border: 0;
}

.box {
    border-radius: 5px;
    box-shadow: 5px 5px 10px -5px rgba(0,0,0,.8);
    margin-bottom: 10px;

    width: 40rem;
}

.box-header {
    border-radius: 5px 5px 0 0;
    background-color: #09021a;
    color: #9EE37D;

    width: 40rem;
    padding: 10px;
}

#graphButton, #searchButton {
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
}

#graphButton {
    width: 10em;
}

#searchButton {
    width: 20em;
}

.box-content {
    padding: 20px;
}